
.font-family{
      font-family: 'Bebas Neue', sans-serif;
      font-family: 'Lato', sans-serif;
      font-family: 'Open Sans', sans-serif;
}
.font-lato{
    
    font-family: 'Lato', sans-serif;
}
.imagee{
    border-radius: 30px;
}
.btn{
    color:#F85559;
}
.btn:hover{
    border: 5px solid black;
}
.pp{
 top:130px;
}